// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "pkg:sass-true" as *;
@use "../../../__tests__/config-variables" as config;
@use "../../../index" with (
    $shape: config.$shape
);
@use "../shape";

@include describe("shape") {
    @include describe("theme()") {
        @include it("Should return custom theme declarations.") {
            @include assert {
                @include output(false) {
                    .test {
                        @include shape.theme((
                            "small": 4px,
                            "medium": 8px
                        ));
                    }
                }

                @include expect(false) {
                    .test {
                        --mg-sys-shape-small: 4px;
                        --mg-sys-shape-medium: 8px;
                    }
                }
            }
        }
    }
}
