// ============================================================================================= //
//                                           VARIABLES                                           //
// ============================================================================================= //

$prefers-color-scheme: (
    light: "light",
    dark: "dark"
);

$prefix: "mg" !default;

$colors: (
    primary: null,
    secondary: null
) !default;

$bg-colors: () !default;
