// ============================================================================================= //
//                                           VARIABLES                                           //
// ============================================================================================= //

$component: "theme";

$prefix: "mg" !default;
$colors: () !default;
$bg-colors: () !default;
