// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../index" as magnesium with (
    $colors: (
        primary: darkcyan,
        secondary: darkorange
    )
);
@use "../index" as theme;

@include describe("theme") {
    @include describe("functions") {
        @include describe("create-theme-var()") {
            @include it("Should return tokens map with custom variables.") {
                @include assert-equal(theme.create-theme-var((
                    fill-color: primary,
                    label-color: darkgreen
                ), button), (
                    fill-color: var(--mg-button-fill-color, var(--mg-theme-primary, darkcyan)),
                    label-color: var(--mg-button-label-color, darkgreen)
                ));
            }
        }

        @include describe("get-theme-tokens()") {
            @include it("Should return color value from token.") {
                @include assert-equal(theme.get-theme-tokens(), (
                    primary,
                    secondary
                ));
            }
        }

        @include describe("get-theme-color()") {
            @include it("Should return color value from token.") {
                @include assert-equal(theme.get-theme-color(primary), darkcyan);
            }
        }
    }
}
