// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../theme";

@include describe("theme") {
    @include describe("mixins") {
        @include describe("emit-theme-vars()") {
            @include it("Should return CSS custom properties declarations.") {
                @include assert {
                    @include output(false) {
                        $theme: theme.create-theme-vars((
                            label-color: darkcyan
                        ), "button");

                        .test {
                            @include theme.emit-theme-vars($theme);
                        }
                    }

                    @include expect(false) {
                        .test {
                            --mg-button-label-color: darkcyan;
                        }
                    }
                }
            }

            @include it("Should return CSS custom properties declarations without module name prefix.") {
                @include assert {
                    @include output(false) {
                        $theme: theme.create-theme-vars((
                            label-color: darkcyan
                        ));

                        .test {
                            @include theme.emit-theme-vars($theme);
                        }
                    }

                    @include expect(false) {
                        .test {
                            --mg-label-color: darkcyan;
                        }
                    }
                }
            }

            @include it("Should return CSS custom properties declarations without fallback (from map).") {
                @include assert {
                    @include output(false) {
                        $theme: theme.create-theme-vars((
                            label-color: null
                        ), "button");

                        .test {
                            @include theme.emit-theme-vars($theme);
                        }
                    }

                    @include expect(false) {
                        .test {
                            --mg-button-label-color: var(--mg-button-label-color);
                        }
                    }
                }
            }

            @include it("Should return CSS custom properties declarations without fallback (from list).") {
                @include assert {
                    @include output(false) {
                        $theme: theme.create-theme-vars((
                            label-color
                        ), "button");

                        .test {
                            @include theme.emit-theme-vars($theme);
                        }
                    }

                    @include expect(false) {
                        .test {
                            --mg-button-label-color: var(--mg-button-label-color);
                        }
                    }
                }
            }
        }
    }
}
