// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../index" as magnesium;

@include describe("theme") {
    @include describe("mixins") {
        @include describe("create-theme()") {
            @include it("Should return custom theme declarations.") {
                @include assert {
                    @include output(false) {
                        $theme: magnesium.create-theme-vars((
                            "label-color": darkcyan
                        ), "button");

                        .test {
                            @include magnesium.create-theme($theme);
                        }
                    }

                    @include expect(false) {
                        .test {
                            --mg-button-label-color: darkcyan;
                        }
                    }
                }
            }

            @include it("Should return custom theme declarations with variable.") {
                @include assert {
                    @include output(false) {
                        $theme: magnesium.create-theme-vars((
                            "label-color"
                        ), "button");

                        .test {
                            @include magnesium.create-theme($theme);
                        }
                    }

                    @include expect(false) {
                        .test {
                            --mg-button-label-color: var(--mg-button-label-color);
                        }
                    }
                }
            }
        }
    }
}
