// ============================================================================================= //
//                                            MIXINS                                             //
// ============================================================================================= //

@use "sass:list";
@use "sass:map";
@use "@magnesium/core";
@use "@magnesium/theme";
@use "@sass-collective/property";
@use "@unsass/utilities";
@use "./variables";

///
/// Core styles.
///
/// @see {mixin} typography
///
@mixin core-styles {
    .#{theme.$prefix}-typography {
        @include base;
    }

    @each $style in map.keys(variables.$styles) {
        .#{theme.$prefix}-typography--#{$style} {
            @include typography($style);
        }
    }
}

// ------------------------------------------------------------------------- //
// Private mixins
// ------------------------------------------------------------------------- //

// ...

// ------------------------------------------------------------------------- //
// Public mixins
// ------------------------------------------------------------------------- //

///
/// Base.
///
/// @see {mixin} property.declaration
/// @see {function} core.create-var
///
@mixin base {
    @include font-smoothing;

    @each $key, $value in variables.$base {
        @if ($key == "font-family") {
            @include property.declaration($key, core.create-var(typography-font-family, $value));
        } @else {
            @include property.declaration($key, $value);
        }
    }
}

///
/// Typography.
///
/// @see {mixin} property.declaration
/// @see {function} core.create-var
/// @see {function} theme.get-color
/// @see {function} theme.exist
///
@mixin typography($style, $exclude-props...) {
    $with-custom-properties: (
        font-family,
        font-size,
        font-weight,
        letter-spacing,
        line-height,
        text-decoration,
        text-transform
    );

    @if not map.has-key(variables.$styles, $style) {
        @error "Invalid style, #{$style} doesn't exist. Choose one of #{map.keys(variables.$styles)}.";
    }

    @include font-smoothing;

    @each $key, $value in map.remove(map.get(variables.$styles, $style), $exclude-props...) {
        @if theme.exist($value) {
            $value: core.create-var(theme-#{$value}, theme.get-color($value));
        }

        @if list.index($with-custom-properties, $key) != null {
            $style-prop: "";

            @if ($key == "font-family") {
                $style-prop: core.create-var(typography-#{$style}-#{$key}, core.create-var(typography-#{$key}, $value));
            } @else {
                $style-prop: core.create-var(typography-#{$style}-#{$key}, $value);
            }

            @include property.declaration($key, $style-prop);
        } @else {
            @include property.declaration($key, $value);
        }
    }
}

///
/// Font smoothing.
///
/// @see {mixin} utilities.font-smoothing
///
@mixin font-smoothing {
    @if variables.$font-smoothing {
        @include utilities.font-smoothing;
    }
}

///
/// Ellipsis.
///
/// @see {mixin} utilities.ellipsis
///
@mixin ellipsis {
    @include utilities.ellipsis;
}

///
/// Ellipsis multiline.
///
/// @see {mixin} utilities.ellipsis-multiline
///
@mixin ellipsis-multiline($line: 2, $orient: vertical) {
    @include utilities.ellipsis-multiline($line, $orient);
}

@function get-line-height($style) {
    @return map.get(variables.$styles, $style, line-height);
}

@function get-font-family($style) {
    @debug variables.$styles;

    @return map.get(variables.$styles, $style, font-family);
}

@function get-font-size($style) {
    @return map.get(variables.$styles, $style, font-size);
}

@function get-font-weight($style) {
    @return map.get(variables.$styles, $style, font-weight);
}

@function get-letter-spacing($style) {
    @return map.get(variables.$styles, $style, letter-spacing);
}
