// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../index" as theme with (
    $colors: (
        primary: #2674a2
    )
);

@include describe("theme.get-color()") {
    @include it("Should return `primary` value without custom property.") {
        @include assert {
            @include output(false) {
                .test {
                    color: theme.get-color(primary);
                }
            }

            @include expect(false) {
                .test {
                    color: #2674a2;
                }
            }
        }
    }
}
