// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../index" as theme with (
    $colors: (
        primary: #2674a2
    )
);

@include describe("theme.color()") {
    @include it("Should return `color` declaration with `primary` color and without `var()`.") {
        @include assert {
            @include output {
                .foo {
                    color: theme.color(primary);
                }
            }

            @include expect {
                .foo {
                    color: #2674a2;
                }
            }
        }
    }
}
