// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../custom-properties";
@use "../../../tests/variables";
@use "../index" as theme with (
    $colors: variables.$colors
);

@include describe("theme.property()") {
    @include it("Should return `color` declaration with custom value.") {
        @include assert {
            @include output(false) {
                .test {
                    @include theme.property(color, darkcyan);
                }
            }

            @include expect(false) {
                .test {
                    color: darkcyan;
                }
            }
        }
    }

    @include it("Should return `color` declaration with configured `primary` color.") {
        @include assert {
            @include output(false) {
                .test {
                    @include theme.property(color, primary);
                }
            }

            @include expect(false) {
                .test {
                    color: var(--mg-theme-primary, #2674a2);
                }
            }
        }
    }

    @include it("Should return configured `primary` color declaration.") {
        @include assert {
            @include output(false) {
                .test {
                    @include theme.property(primary);
                }
            }

            @include expect(false) {
                .test {
                    --mg-theme-primary: #2674a2;
                }
            }
        }
    }

    @include it("Should return configured `primary` color declaration with custom value.") {
        @include assert {
            @include output(false) {
                .test {
                    @include theme.property(primary, darkcyan);
                }
            }

            @include expect(false) {
                .test {
                    --mg-theme-primary: darkcyan;
                }
            }
        }
    }

    @include it("Should return custom custom property declaration.") {
        @include assert {
            @include output(false) {
                .test {
                    @include theme.property(custom-properties.create(foo, darkcyan));
                }
            }

            @include expect(false) {
                .test {
                    --mg-foo: darkcyan;
                }
            }
        }
    }

    @include it("Should return custom custom property declaration without prefix.") {
        @include assert {
            @include output(false) {
                .test {
                    @include theme.property(custom-properties.create(--foo, darkcyan));
                }
            }

            @include expect(false) {
                .test {
                    --foo: darkcyan;
                }
            }
        }
    }
}

@include describe("theme.prefers-color-scheme()") {
    @include it("Should return prefers color scheme `light` declaration.") {
        @include assert {
            @include output(false) {
                @include theme.prefers-color-scheme {
                    background: darkcyan;
                }
            }

            @include expect(false) {
                @media (prefers-color-scheme: light) {
                    :root {
                        background: darkcyan;
                    }
                }
            }
        }
    }

    @include it("Should return prefers color scheme `dark` declaration.") {
        @include assert {
            @include output(false) {
                @include theme.prefers-color-scheme(dark) {
                    background: darkcyan;
                }
            }

            @include expect(false) {
                @media (prefers-color-scheme: dark) {
                    :root {
                        background: darkcyan;
                    }
                }
            }
        }
    }

    @include it("Should return prefers color scheme declaration with custom selector.") {
        @include assert {
            @include output(false) {
                @include theme.prefers-color-scheme($root: false) {
                    .test {
                        background: darkcyan;
                    }
                }
            }

            @include expect(false) {
                @media (prefers-color-scheme: light) {
                    .test {
                        background: darkcyan;
                    }
                }
            }
        }
    }

    @include it("Should return prefers color scheme declaration with custom tokens.") {
        @include assert {
            @include output(false) {
                @include theme.prefers-color-scheme($tokens: (
                    primary: #080,
                    secondary: #800
                ));
            }

            @include expect(false) {
                @media (prefers-color-scheme: light) {
                    :root {
                        --mg-theme-primary: #080;
                        --mg-theme-secondary: #800;
                    }
                }
            }
        }
    }
}

@include describe("theme.disabled-touch-screen()") {
    @include it("Should return disabled touch screen `@media` declaration.") {
        @include assert {
            @include output(false) {
                .test {
                    @include theme.disabled-touch-screen {
                        background: darkcyan;
                    }
                }
            }

            @include expect(false) {
                .test {
                    @media (pointer: fine) {
                        background: darkcyan;
                    }
                }
            }
        }
    }
}

@include describe("theme.disabled-pointer-events()") {
    @include it("Should return disabled pointer events declarations.") {
        @include assert {
            @include output(false) {
                .test {
                    @include theme.disabled-pointer-events;
                }
            }

            @include expect(false) {
                .test {
                    cursor: default;
                    pointer-events: none;
                }
            }
        }
    }
}
