// ============================================================================================= //
//                                           VARIABLES                                           //
// ============================================================================================= //

// ------------------------------------------------------------------------- //
// Theme
// ------------------------------------------------------------------------- //

$colors: (
    primary: #2674a2,
    secondary: #6e5898
);

$bg-colors: ();

// ------------------------------------------------------------------------- //
// Shape
// ------------------------------------------------------------------------- //

$shapes: (
    small: 6px,
    medium: 12px
)
