// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../tests/variables";
@use "@magnesium/core" with (
    $extend: (
        "prefix": "foo",
        "core": (
            "responsive": false,
            "states": false
        )
    )
);
@use "@magnesium/theme" with (
    $extend: (
        "colors": variables.$colors,
        "bg-colors": (
            secondary
        )
    )
);

@include describe("theme") {
    @include describe("styles") {
        @include describe("core-styles()") {
            @include it("Should return main styles declarations with extended options.") {
                @include assert {
                    @include output(false) {
                        @include theme.core-styles;
                    }

                    @include expect(false) {
                        .foo-theme--primary {
                            color: var(--foo-theme-primary, #2674a2);
                        }

                        .foo-theme--secondary {
                            color: var(--foo-theme-secondary, #6e5898);
                        }

                        .foo-theme--secondary-bg {
                            background-color: var(--foo-theme-secondary, #6e5898);
                        }
                    }
                }
            }
        }
    }
}
