// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../__tests__/variables";
@use "@magnesium/core" with (
    $extend: (
        "core": (
            "responsive": false,
            "states": false
        )
    )
);
@use "@magnesium/theme" with (
    $colors: variables.$colors,
    $bg-colors: (
        secondary
    )
);

@include describe("theme") {
    @include describe("styles") {
        @include describe("core-styles()") {
            @include it("Should return main styles declarations with extended options.") {
                @include assert {
                    @include output(false) {
                        @include theme.core-styles;
                    }

                    @include expect(false) {
                        .mg-theme--primary {
                            color: var(--mg-theme-primary, #2674a2);
                        }

                        .mg-theme--secondary {
                            color: var(--mg-theme-secondary, #6e5898);
                        }

                        .mg-theme--secondary-bg {
                            background-color: var(--mg-theme-secondary, #6e5898);
                        }
                    }
                }
            }
        }
    }
}
