// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../index" with (
    $colors: (
        primary: darkcyan,
        secondary: darkorange
    )
);
@use "../index" as color;

@include describe("color") {
    @include describe("functions") {
        @include describe("get-tokens()") {
            @include it("Should return color tokens list.") {
                @include assert-equal(color.get-tokens(), (
                    primary,
                    secondary
                ));
            }
        }

        @include describe("get-value()") {
            @include it("Should return color value from token key.") {
                @include assert-equal(color.get-value("primary"), darkcyan);
            }
        }

        @include describe("get-variable()") {
            @include it("Should return color custom property from token key.") {
                @include assert-equal(color.get-variable("primary"), var(--mg-theme-primary, darkcyan));
            }

            @include it("Should return color custom property from token key with custom prefix.") {
                @include assert-equal(color.get-variable("primary", "color"), var(--mg-color-primary, darkcyan));
            }
        }
    }
}
