// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "pkg:sass-true" as *;
@use "../../../index" with (
    $color: (
        "tokens": (
            "primary",
            "secondary"
        )
    )
);
@use "../mixins";

@include describe("color") {
    @include describe("theme()") {
        @include it("Should return custom theme declarations.") {
            @include assert {
                @include output(false) {
                    .test {
                        @include mixins.theme((
                            "primary": darkcyan,
                            "secondary": darkorange
                        ));
                    }
                }

                @include expect(false) {
                    .test {
                        --mg-color-primary: darkcyan;
                        --mg-color-secondary: darkorange;
                    }
                }
            }
        }
    }
}
