// ============================================================================================= //
//                                           VARIABLES                                           //
// ============================================================================================= //

@use "sass:map";

// ------------------------------------------------------------------------- //
// Private variables
// ------------------------------------------------------------------------- //

$default-core: (
    "responsive": true,
    "states": true
) !default;

// ------------------------------------------------------------------------- //
// Public variables
// ------------------------------------------------------------------------- //

$core: () !default;
$screens: () !default;

///
/// Extend options.
///

$core: map.deep-merge($default-core, $core);
