// ============================================================================================= //
//                                           FUNCTIONS                                           //
// ============================================================================================= //

@use "sass:map";
@use "../functions";
@use "../variables";

$_custom-property-prefix: if(map.get(variables.$color, "prefix") == null, "color", map.get(variables.$color, "prefix"));
$_tokens: map.get(variables.$color, "tokens");

@function values($exclude-custom-props: false) {
    $tokens: $_tokens;

    @if not $exclude-custom-props {
        $tokens: functions.create-theme-vars($_tokens, $_custom-property-prefix);
    }

    @return $tokens;
}
