// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "pkg:sass-true" as *;
@use "../../index" with (
    $typeface: (
        "prefix": "ref-typeface",
        "tokens": (
            "brand": "Open Sans",
            "plain": "Roboto"
        )
    ),
    $typescale: (
        "prefix": "sys-typescale",
        "tokens": (
            "body-size": 16px,
            "body-weight": 400
        )
    )
);
@use "../typeface";
@use "../typescale";

@include describe("components") {
    @include describe("typography") {
        @include describe("typeface") {
            @include describe("get()") {
                @include it("Should return a CSS variable reference.") {
                    @include assert-equal(typeface.get("brand"), var(--mg-ref-typeface-brand));
                }

                @include it("Should return a CSS variable reference with fallback.") {
                    @include assert-equal(typeface.get("brand", $fallback: true), var(--mg-ref-typeface-brand, "Open Sans"));
                }
            }

            @include describe("theme()") {
                @include it("Should return theme custom properties declarations.") {
                    @include assert {
                        @include output(false) {
                            .test {
                                @include typeface.theme((
                                    "brand": "Open Sans",
                                    "plain": "Roboto"
                                ));
                            }
                        }

                        @include expect(false) {
                            .test {
                                --mg-ref-typeface-brand: "Open Sans";
                                --mg-ref-typeface-plain: "Roboto";
                            }
                        }
                    }
                }
            }
        }

        @include describe("typescale") {
            @include describe("get()") {
                @include it("Should return a CSS variable reference.") {
                    @include assert-equal(typescale.get("body-size"), var(--mg-sys-typescale-body-size));
                }

                @include it("Should return a CSS variable reference with fallback.") {
                    @include assert-equal(typescale.get("body-size", $fallback: true), var(--mg-sys-typescale-body-size, 16px));
                }
            }

            @include describe("theme()") {
                @include it("Should return theme custom properties declarations.") {
                    @include assert {
                        @include output(false) {
                            .test {
                                @include typescale.theme((
                                    "body-size": 16px,
                                    "body-weight": 400
                                ));
                            }
                        }

                        @include expect(false) {
                            .test {
                                --mg-sys-typescale-body-size: 16px;
                                --mg-sys-typescale-body-weight: 400
                            }
                        }
                    }
                }
            }
        }
    }
}
