// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "@magnesium/core";
@use "@magnesium/shape";

@include core.configure2($shape: (
    small: 6px,
    medium: 12px
));

@include describe("theme") {
    @include describe("styles") {
        @include describe("core-styles()") {
            @include it("Should return main styles declarations with extended options.") {
                @include assert {
                    @include output(false) {
                        @include core.configure2("ls", $core: (
                            "responsive": false,
                            "states": false
                        ));

                        @include shape.core-styles;
                    }

                    @include expect(false) {
                        .ls-shape--small {
                            border-radius: var(--ls-shape-small, var(--ls-shape-radius, 6px));
                        }

                        .ls-shape--medium {
                            border-radius: var(--ls-shape-medium, var(--ls-shape-radius, 12px));
                        }
                    }
                }
            }
        }
    }
}
