// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../tests/variables";
@use "@magnesium/core";
@use "@magnesium/shape" with (
    $shapes: variables.$shapes
);

@include describe("shape") {
    @include describe("styles") {
        @include describe("core-styles()") {
            @include it("Should return core styles declarations.") {
                @include assert {
                    @include output(false) {
                        @include shape.core-styles;
                    }

                    @include expect(false) {
                        .mg-shape--small {
                            border-radius: var(--mg-shape-small, var(--mg-shape-radius, 6px));
                        }

                        .hover\:mg-shape--small:hover {
                            border-radius: var(--mg-shape-small, var(--mg-shape-radius, 6px));
                        }

                        .focus\:mg-shape--small:focus {
                            border-radius: var(--mg-shape-small, var(--mg-shape-radius, 6px));
                        }

                        @media (min-width: 320px) {
                            .xs\:mg-theme--small {
                                border-radius: var(--mg-shape-small, var(--mg-shape-radius, 6px));
                            }
                        }

                        @media (min-width: 480px) {
                            .sm\:mg-theme--small {
                                border-radius: var(--mg-shape-small, var(--mg-shape-radius, 6px));
                            }
                        }

                        @media (min-width: 768px) {
                            .md\:mg-theme--small {
                                border-radius: var(--mg-shape-small, var(--mg-shape-radius, 6px));
                            }
                        }

                        @media (min-width: 960px) {
                            .lg\:mg-theme--small {
                                border-radius: var(--mg-shape-small, var(--mg-shape-radius, 6px));
                            }
                        }

                        @media (min-width: 1200px) {
                            .xl\:mg-theme--small {
                                border-radius: var(--mg-shape-small, var(--mg-shape-radius, 6px));
                            }
                        }

                        @media (min-width: 1400px) {
                            .\32 xl\:mg-theme--small {
                                border-radius: var(--mg-shape-small, var(--mg-shape-radius, 6px));
                            }
                        }

                        .mg-shape--medium {
                            border-radius: var(--mg-shape-medium, var(--mg-shape-radius, 12px));
                        }

                        .hover\:mg-shape--medium:hover {
                            border-radius: var(--mg-shape-medium, var(--mg-shape-radius, 12px));
                        }

                        .focus\:mg-shape--medium:focus {
                            border-radius: var(--mg-shape-medium, var(--mg-shape-radius, 12px));
                        }

                        @media (min-width: 320px) {
                            .xs\:mg-theme--medium {
                                border-radius: var(--mg-shape-medium, var(--mg-shape-radius, 12px));
                            }
                        }

                        @media (min-width: 480px) {
                            .sm\:mg-theme--medium {
                                border-radius: var(--mg-shape-medium, var(--mg-shape-radius, 12px));
                            }
                        }

                        @media (min-width: 768px) {
                            .md\:mg-theme--medium {
                                border-radius: var(--mg-shape-medium, var(--mg-shape-radius, 12px));
                            }
                        }

                        @media (min-width: 960px) {
                            .lg\:mg-theme--medium {
                                border-radius: var(--mg-shape-medium, var(--mg-shape-radius, 12px));
                            }
                        }

                        @media (min-width: 1200px) {
                            .xl\:mg-theme--medium {
                                border-radius: var(--mg-shape-medium, var(--mg-shape-radius, 12px));
                            }
                        }

                        @media (min-width: 1400px) {
                            .\32 xl\:mg-theme--medium {
                                border-radius: var(--mg-shape-medium, var(--mg-shape-radius, 12px));
                            }
                        }
                    }
                }
            }

            @include it("Should return core styles declarations without responsive rules.") {
                @include assert {
                    @include output(false) {
                        @include core.configure($core: (
                            "responsive": false
                        ));

                        @include shape.core-styles;
                    }

                    @include expect(false) {
                        .mg-shape--small {
                            border-radius: var(--mg-shape-small, var(--mg-shape-radius, 6px));
                        }

                        .hover\:mg-shape--small:hover {
                            border-radius: var(--mg-shape-small, var(--mg-shape-radius, 6px));
                        }

                        .focus\:mg-shape--small:focus {
                            border-radius: var(--mg-shape-small, var(--mg-shape-radius, 6px));
                        }

                        .mg-shape--medium {
                            border-radius: var(--mg-shape-medium, var(--mg-shape-radius, 12px));
                        }

                        .hover\:mg-shape--medium:hover {
                            border-radius: var(--mg-shape-medium, var(--mg-shape-radius, 12px));
                        }

                        .focus\:mg-shape--medium:focus {
                            border-radius: var(--mg-shape-medium, var(--mg-shape-radius, 12px));
                        }
                    }
                }
            }

            @include it("Should return core styles declarations without states rules.") {
                @include assert {
                    @include output(false) {
                        @include core.configure($core: (
                            "states": false
                        ));

                        @include shape.core-styles;
                    }

                    @include expect(false) {
                        .mg-shape--small {
                            border-radius: var(--mg-shape-small, var(--mg-shape-radius, 6px));
                        }

                        @media (min-width: 320px) {
                            .xs\:mg-theme--small {
                                border-radius: var(--mg-shape-small, var(--mg-shape-radius, 6px));
                            }
                        }

                        @media (min-width: 480px) {
                            .sm\:mg-theme--small {
                                border-radius: var(--mg-shape-small, var(--mg-shape-radius, 6px));
                            }
                        }

                        @media (min-width: 768px) {
                            .md\:mg-theme--small {
                                border-radius: var(--mg-shape-small, var(--mg-shape-radius, 6px));
                            }
                        }

                        @media (min-width: 960px) {
                            .lg\:mg-theme--small {
                                border-radius: var(--mg-shape-small, var(--mg-shape-radius, 6px));
                            }
                        }

                        @media (min-width: 1200px) {
                            .xl\:mg-theme--small {
                                border-radius: var(--mg-shape-small, var(--mg-shape-radius, 6px));
                            }
                        }

                        @media (min-width: 1400px) {
                            .\32 xl\:mg-theme--small {
                                border-radius: var(--mg-shape-small, var(--mg-shape-radius, 6px));
                            }
                        }

                        .mg-shape--medium {
                            border-radius: var(--mg-shape-medium, var(--mg-shape-radius, 12px));
                        }

                        @media (min-width: 320px) {
                            .xs\:mg-theme--medium {
                                border-radius: var(--mg-shape-medium, var(--mg-shape-radius, 12px));
                            }
                        }

                        @media (min-width: 480px) {
                            .sm\:mg-theme--medium {
                                border-radius: var(--mg-shape-medium, var(--mg-shape-radius, 12px));
                            }
                        }

                        @media (min-width: 768px) {
                            .md\:mg-theme--medium {
                                border-radius: var(--mg-shape-medium, var(--mg-shape-radius, 12px));
                            }
                        }

                        @media (min-width: 960px) {
                            .lg\:mg-theme--medium {
                                border-radius: var(--mg-shape-medium, var(--mg-shape-radius, 12px));
                            }
                        }

                        @media (min-width: 1200px) {
                            .xl\:mg-theme--medium {
                                border-radius: var(--mg-shape-medium, var(--mg-shape-radius, 12px));
                            }
                        }

                        @media (min-width: 1400px) {
                            .\32 xl\:mg-theme--medium {
                                border-radius: var(--mg-shape-medium, var(--mg-shape-radius, 12px));
                            }
                        }
                    }
                }
            }
        }
    }
}
