// ============================================================================================= //
//                                           VARIABLES                                           //
// ============================================================================================= //

@use "sass:map";

// ------------------------------------------------------------------------- //
// Private variables
// ------------------------------------------------------------------------- //

$_default-colors: (
    "prefix": "color",
    "tokens": ()
);

// ------------------------------------------------------------------------- //
// Public variables
// ------------------------------------------------------------------------- //

$prefix: "mg" !default;
$colors: () !default;
$shapes: () !default;
$typographies: () !default;

///
/// Merged options.
///

$colors: map.deep-merge($_default-colors, $colors);
