// ============================================================================================= //
//                                            MIXINS                                             //
// ============================================================================================= //

@use "@unsass/types" as type;
@use "../core";

$_custom-property-prefix: "shape";

///
/// Generates user-provided theme's tokens for the shape component management with tokens validation.
///
/// @example - scss
///   $theme: (
///     "filled": 6px
///   );
///
///   .foo {
///     @include shape.theme($theme);
///   }
///
/// @example - css
///   .foo {
///     --mg-shape-filled: 6px;
///   }
///
/// @param {Map} $theme - The theme tokens map.
///
@mixin theme($theme) {
    @each $key, $value in $theme {
        @if type.is-map($value) {
            @error "Invalid tokens map, the tokens map can't contain more than one level.";
        }
    }

    $tokens: core.validate-theme(core.$shapes, $theme);
    $tokens: core.create-theme-vars($theme, $_custom-property-prefix);

    @include core.emit-theme-vars($tokens);
}
