// ============================================================================================= //
//                                             SHAPE                                             //
// ============================================================================================= //

@use "sass:map";
@use "../core/functions";
@use "../core/mixins";
@use "../core/variables";

$_custom-property-prefix: map.get(variables.$shape, "prefix");
$_tokens: map.get(variables.$shape, "tokens");

///
/// Returns a CSS `var()` reference to a shape token.
///
/// @example - scss
///   @use "@magnesium/theme/shape";
///
///   .card {
///     border-radius: shape.get("medium");
///   }
///
/// @example - css
///   .card {
///     border-radius: var(--mg-shape-medium);
///   }
///
/// @param {String} $token - The shape token key.
/// @param {Boolean} $fallback - Whether to include the fallback value. Default: `false`.
///
/// @return {String} The CSS variable.
///
@function get($token, $fallback: false) {
    @return functions.emit-variable($_tokens, $token, $fallback, $_custom-property-prefix);
}

///
/// The "shape.theme()" emit `--mg-shape-*` custom properties for a user-provided theme's tokens.
///
/// @example - scss
///   @use "@magnesium/theme/shape";
///
///   :root {
///     @include shape.theme((
///       "small": 4px,
///       "medium": 6px
///     ));
///   }
///
/// @example - css
///   :root {
///     --mg-shape-small: 4px;
///     --mg-shape-medium: 6px;
///   }
///
/// @param {Map} $tokens - The `shape` tokens map.
///
@mixin theme($tokens) {
    $tokens: functions.validation($_tokens, $tokens, $_custom-property-prefix);

    @include mixins.emit-custom-props($tokens, $_custom-property-prefix);
}
