// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "pkg:sass-true" as *;
@use "../../index" with (
    $color: (
        "prefix": "sys-color",
        "tokens": (
            "primary": darkcyan,
            "secondary": darkorange,
            "tertiary": darkgreen
        )
    )
);
@use "../color";

@include describe("components") {
    @include describe("color") {
        @include describe("theme()") {
            @include it("Should return custom theme declarations.") {
                @include assert {
                    @include output(false) {
                        .test {
                            @include color.theme((
                                "primary": #36454f,
                                "secondary": #353839
                            ));
                        }
                    }

                    @include expect(false) {
                        .test {
                            --mg-sys-color-primary: #36454f;
                            --mg-sys-color-secondary: #353839;
                        }
                    }
                }
            }
        }
    }
}
