// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../__tests__/config";
@use "../../index" as magnesium;
@use "../mixins" as color;

@include describe("color") {
    @include describe("mixins") {
        @include describe("theme()") {
            @include it("Should return the color custom properties declarations.") {
                @include assert {
                    @include output(false) {
                        .test {
                            @include color.theme(magnesium.color-tokens(true));
                        }
                    }

                    @include expect(false) {
                        .test {
                            --mg-color-primary: darkcyan;
                            --mg-color-secondary: darkorange;
                        }
                    }
                }
            }

            @include it("Should return the color custom properties declarations with custom theme.") {
                @include assert {
                    @include output(false) {
                        .test {
                            @include color.theme((
                                "primary": darkorange
                            ));
                        }
                    }

                    @include expect(false) {
                        .test {
                            --mg-color-primary: darkorange;
                        }
                    }
                }
            }
        }
    }
}
