// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../index" as shape with (
    $shapes: (
        medium: 12px
    )
);

@include describe("shape.get-radius()") {
    @include it("Should return `medium` value without custom property.") {
        @include assert {
            @include output {
                .foo {
                    border-radius: shape.radius(medium);
                }
            }

            @include expect {
                .foo {
                    border-radius: 12px;
                }
            }
        }
    }
}
