// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../tests/variables";
@use "../index" as shape with (
    $shapes: variables.$shapes
);

@include describe("shape.core-styles()") {
    @include it("Should return core styles declarations.") {
        @include assert {
            @include output(false) {
                @include shape.core-styles;
            }

            @include expect(false) {
                .mg-shape--small {
                    border-radius: var(--mg-shape-small, 6px);
                }

                .mg-shape--medium {
                    border-radius: var(--mg-shape-medium, 12px);
                }
            }
        }
    }
}
