// ============================================================================================= //
//                                            MIXINS                                             //
// ============================================================================================= //

@use "../core";
@use "../theme";

$_custom-property-prefix: "typography";

///
/// Generates user-provided theme's tokens for the typography component management with tokens validation.
///
/// @example - scss
///   $theme: (
///     "body-font-size": 16px
///   );
///
///   .foo {
///     @include typography.theme($theme);
///   }
///
/// @example - css
///   .foo {
///     --mg-typography-body-font-size: 16px;
///   }
///
/// @param {Map} $theme - The theme tokens map. Use the default `$typographies` tokens.
///
@mixin theme($theme) {
    $tokens: theme.validate-theme(core.$typographies, $theme);
    $tokens: theme.create-theme-vars($theme, $_custom-property-prefix);

    @include theme.emit-theme-vars($tokens);
}
