// ============================================================================================= //
//                                           VARIABLES                                           //
// ============================================================================================= //

@use "sass:map";

// ------------------------------------------------------------------------- //
// Private variables
// ------------------------------------------------------------------------- //

$_template: (
    "line-height": null,
    "font-family": null,
    "font-size": null,
    "font-weight": null,
    "letter-spacing": null,
    "text-decoration": null,
    "text-transform": null
);

$_defaults: (
    "headline-1": $_template,
    "headline-2": $_template,
    "headline-3": $_template,
    "headline-4": $_template,
    "headline-5": $_template,
    "headline-6": $_template
);

// ------------------------------------------------------------------------- //
// Public variables
// ------------------------------------------------------------------------- //

$headlines: () !default;

// ------------------------------------------------------------------------- //
// Merged variables
// ------------------------------------------------------------------------- //

$headlines: map.deep-merge($_defaults, $headlines);
