// ============================================================================================= //
//                                           VARIABLES                                           //
// ============================================================================================= //

@use "sass:map";

// ------------------------------------------------------------------------- //
// Private variables
// ------------------------------------------------------------------------- //

$_default: (
    "prefix": "mg",
    "screens": (),
    "core": (
        "responsive": true,
        "states": true
    )
);

$states: (
    hover,
    focus,
);

// ------------------------------------------------------------------------- //
// Public variables
// ------------------------------------------------------------------------- //

$extend: () !default;

///
/// Extended options.
///

$extend: map.deep-merge($_default, $extend);
