// ============================================================================================= //
//                                           VARIABLES                                           //
// ============================================================================================= //

@use "sass:map";
@use "sass:string";

// ------------------------------------------------------------------------- //
// Private variables
// ------------------------------------------------------------------------- //

$default-shape: (
    "radius": ()
);

$default-theme: (
    "prefix": "mg",
    "colors": (),
    "bg-colors": ()
);

$default-typography: (
    "font-family": string.unquote("'Open Sans', sans-serif"),
    "font-baseline": 16px,
    "font-smoothing": true,
    "styles": ()
);

// ------------------------------------------------------------------------- //
// Public variables
// ------------------------------------------------------------------------- //

$shape: () !default;
$theme: () !default;
$typography: () !default;

///
/// Extend options.
///

$shape: map.deep-merge($default-shape, $shape);
$theme: map.deep-merge($default-theme, $theme);
$typography: map.deep-merge($default-typography, $typography);
