// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "pkg:sass-true" as *;
@use "../../index" with (
    $shape: (
        "prefix": "sys-shape",
        "tokens": (
            "small": 4px,
            "medium": 6px,
            "large": 8px
        )
    )
);
@use "../shape";

@include describe("components") {
    @include describe("shape") {
        @include describe("get()") {
            @include it("Should return a CSS variable reference.") {
                @include assert-equal(shape.get("small"), var(--mg-sys-shape-small));
            }

            @include it("Should return a CSS variable reference with fallback.") {
                @include assert-equal(shape.get("medium", $fallback: true), var(--mg-sys-shape-medium, 6px));
            }
        }

        @include describe("theme()") {
            @include it("Should return theme custom properties declarations.") {
                @include assert {
                    @include output(false) {
                        .test {
                            @include shape.theme((
                                "small": 4px,
                                "medium": 8px
                            ));
                        }
                    }

                    @include expect(false) {
                        .test {
                            --mg-sys-shape-small: 4px;
                            --mg-sys-shape-medium: 8px;
                        }
                    }
                }
            }
        }
    }
}
