// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../__tests__/tokens";
@use "../index" as theme;

@include describe("theme") {
    @include describe("mixins") {
        @include describe("emit-custom-props()") {
            @include it("Should return theme custom properties declarations.") {
                @include assert {
                    @include output(false) {
                        .test {
                            @include theme.emit-custom-props(tokens.$button, "button");
                        }
                    }

                    @include expect(false) {
                        .test {
                            --mg-button-text-color: var(--mg-color-primary, darkcyan);
                            --mg-button-text-size: 16px;
                            --mg-button-text-font-family: "Roboto";
                            --mg-button-text-line-height: normal;
                            --mg-button-padding-top: 12px;
                            --mg-button-padding-bottom: 12px;
                        }
                    }
                }
            }

            @include it("Should return theme custom properties declarations without prefix.") {
                @include assert {
                    @include output(false) {
                        .test {
                            @include theme.emit-custom-props(tokens.$button);
                        }
                    }

                    @include expect(false) {
                        .test {
                            --mg-text-color: var(--mg-color-primary, darkcyan);
                            --mg-text-size: 16px;
                            --mg-text-font-family: "Roboto";
                            --mg-text-line-height: normal;
                            --mg-padding-top: 12px;
                            --mg-padding-bottom: 12px;
                        }
                    }
                }
            }
        }

        @include describe("emit-theme-vars()") {
            @include it("Should return custom theme declarations.") {
                @include assert {
                    @include output(false) {
                        $theme: theme.create-theme-vars(tokens.$button, "button");

                        .test {
                            @include theme.emit-theme-vars($theme);
                        }
                    }

                    @include expect(false) {
                        .test {
                            --mg-button-text-color: var(--mg-color-primary, darkcyan);
                            --mg-button-text-size: 16px;
                            --mg-button-text-font-family: "Roboto";
                            --mg-button-text-line-height: normal;
                            --mg-button-padding-top: 12px;
                            --mg-button-padding-bottom: 12px;
                        }
                    }
                }
            }

            @include it("Should return custom theme declarations without null.") {
                @include assert {
                    @include output(false) {
                        $theme: theme.create-theme-vars((
                            "text-color": darkcyan,
                            "text-size": null
                        ), "button");

                        .test {
                            @include theme.emit-theme-vars($theme);
                        }
                    }

                    @include expect(false) {
                        .test {
                            --mg-button-text-color: darkcyan;
                        }
                    }
                }
            }
        }

        @include describe("emit-custom-props()") {
            @include it("Should return the CSS declarations for light color theme.") {
                @include assert {
                    @include output(false) {
                        .test {
                            @include theme.emit-color-scheme("light") {
                                --mg-button-text-color: darkcyan;
                            }
                        }
                    }

                    @include expect(false) {
                        @media (prefers-color-scheme: light) {
                            .test {
                                --mg-button-text-color: darkcyan;
                            }
                        }
                    }
                }
            }

            @include it("Should return the CSS declarations for dark color theme.") {
                @include assert {
                    @include output(false) {
                        .test {
                            @include theme.emit-color-scheme("dark") {
                                --mg-button-text-color: darkorange;
                            }
                        }
                    }

                    @include expect(false) {
                        @media (prefers-color-scheme: dark) {
                            .test {
                                --mg-button-text-color: darkorange;
                            }
                        }
                    }
                }
            }
        }
    }
}
