// ============================================================================================= //
//                                            MIXINS                                             //
// ============================================================================================= //

@use "sass:map";
@use "@magnesium/core";
@use "@magnesium/theme";
@use "@sass-collective/property";
@use "./variables";
@use "./functions";

///
/// Core styles.
///
@mixin core-styles {
    @each $style in functions.get-keys() {
        .#{theme.$prefix}-shape--#{$style} {
            @include radius($style);
        }
    }
}

// ------------------------------------------------------------------------- //
// Private mixins
// ------------------------------------------------------------------------- //

// ...

// ------------------------------------------------------------------------- //
// Public mixins
// ------------------------------------------------------------------------- //

///
/// @see {mixin} shape.declaration
/// @see {function} core.create-var
///
@mixin radius($radius, $no-var: false) {
    $value: "";

    @if functions.exist($radius) {
        $value: core.create-var(shape-#{$radius}, core.create-var(shape-radius, functions.radius($radius)));
    } @else {
        @if $no-var {
            $value: $radius;
        } @else {
            $value: core.create-var(shape-radius, $radius);
        }
    }

    @include declaration(border-radius, $value);
}

///
/// @see {mixin} property.declaration
/// @see {function} core.create-var
/// @see {function} functions.create-custom-map
/// @see {function} functions.get-radius
/// @see {function} functions.exist
///
@mixin declaration($property, $value: null, $important: false) {
    @if functions.exist($property) {
        @if $value {
            $property: functions.create-custom-map($property, $value);
        } @else {
            $property: functions.create-custom-map($property, functions.radius($property));
        }
    } @else if functions.exist($value) {
        $value: core.create-var(shape-#{$value}, functions.radius($value));
    }

    @include property.declaration($property, $value, $important);
}

///
/// @see {mixin} shape.declaration
///
/// @deprecated Use `declaration` mixin instead.
///
@mixin property($property, $value: null, $important: false) {
    @include declaration($property, $value, $important);
}
