// ============================================================================================= //
//                                            MIXINS                                             //
// ============================================================================================= //

@use "sass:map";
@use "@magnesium/core";
@use "@magnesium/theme";
@use "@sass-collective/property";
@use "@sass-collective/property/custom-properties";
@use "./variables";

///
/// Core styles.
///
/// @see {mixin} theme.selector
///
@mixin core-styles {
    @each $key, $value in variables.$shapes {
        @include theme.selector(shape--#{$key}) {
            border-radius: #{$value};
        }
    }
}

// ------------------------------------------------------------------------- //
// Private mixins
// ------------------------------------------------------------------------- //

// ...

// ------------------------------------------------------------------------- //
// Public mixins
// ------------------------------------------------------------------------- //

///
/// @see {mixin} property.declaration
/// @see {function} core.create-var
///
@mixin radius($radius) {
    $value: "";

    @if map.has-key(variables.$shapes, $radius) {
        $value: core.create-var(shape-#{$radius}, core.create-var(shape-radius, map.get(variables.$shapes, $radius)));
    } @else {
        $value: core.create-var(shape-radius, $radius);
    }

    @include property.declaration(border-radius, $value);
}

///
/// @see {mixin} property.declaration
/// @see {function} custom-properties.create
///
@mixin property($value) {
    @include property.declaration(custom-properties.create(shape-radius, $value));
}
