// ============================================================================================= //
//                                            MIXINS                                             //
// ============================================================================================= //

@use "sass:map";
@use "@magnesium/core";
@use "@magnesium/theme";
@use "@unsass/breakpoint";
@use "@unsass/css";
@use "@unsass/selector";
@use "./functions";

///
/// Core styles.
///
@mixin core-styles {
    @each $style in functions.get-keys() {
        $selector: theme.create-name(shape--#{$style});

        @include selector.create(#{$selector}) {
            @include radius($style);
        }

        ///
        /// States.
        ///
        @if core.get-states-option() {
            @each $state in core.$states {
                @include selector.create(#{$selector}, $state, $pseudo-class: $state) {
                    @include radius($style);
                }
            }
        }

        ///
        /// Responsive.
        ///
        @if core.get-responsive-option() {
            @each $key, $value in breakpoint.get-screens() {
                @include breakpoint.up($key) {
                    @include selector.create(#{$selector}, $key) {
                        @include radius($style);
                    }
                }
            }
        }
    }
}

// ------------------------------------------------------------------------- //
// Private mixins
// ------------------------------------------------------------------------- //

// ...

// ------------------------------------------------------------------------- //
// Public mixins
// ------------------------------------------------------------------------- //

///
/// @see {mixin} shape.declaration
/// @see {function} core.create-var
///
@mixin radius($radius, $no-var: false) {
    $value: "";

    @if functions.exist($radius) {
        $value: core.create-var(theme.create-name(shape-#{$radius}), core.create-var(theme.create-name(shape-radius), functions.radius($radius)));
    } @else {
        @if $no-var {
            $value: $radius;
        } @else {
            $value: core.create-var(theme.create-name(shape-radius), $radius);
        }
    }

    @include declaration(border-radius, $value);
}

///
/// @see {mixin} css.declaration
/// @see {function} core.create-var
/// @see {function} functions.create-custom-map
/// @see {function} functions.get-radius
/// @see {function} functions.exist
///
@mixin declaration($property, $value: null, $important: false) {
    @if functions.exist($property) {
        @if $value {
            $property: functions.create-custom-map($property, $value);
        } @else {
            $property: functions.create-custom-map($property, functions.radius($property));
        }
    } @else if functions.exist($value) {
        $value: core.create-var(theme.create-name(shape-#{$value}), functions.radius($value));
    }

    @include css.declaration($property, $value, $important);
}

///
/// @see {mixin} shape.declaration
///
/// @deprecated Use `declaration` mixin instead.
///
@mixin property($property, $value: null, $important: false) {
    @include declaration($property, $value, $important);
}
