// ============================================================================================= //
//                                           VARIABLES                                           //
// ============================================================================================= //

@use "sass:map";

$shapes: () !default;
$shape-values: map.merge((), $shapes);
$shapes: $shape-values;
