// ============================================================================================= //
//                                            MIXINS                                             //
// ============================================================================================= //

@use "sass:map";
@use "../functions";
@use "../mixins";
@use "../variables";

$_custom-property-prefix: if(map.get(variables.$shape, "prefix") == null, "shape", map.get(variables.$shape, "prefix"));
$_tokens: map.get(variables.$shape, "tokens");
$_tokens: functions.create-theme-vars($_tokens, $_custom-property-prefix);

///
/// Generates user-provided theme's tokens for the shape component management with tokens validation.
///
/// @example - scss
///   $theme: (
///     "medium": 6px
///   );
///
///   .foo {
///     @include shape.theme($theme);
///   }
///
/// @example - css
///   .foo {
///     --mg-shape-medium: 8px;
///   }
///
/// @param {Map} $theme - The theme tokens map.
///
@mixin theme($theme) {
    $tokens: functions.validation($_tokens, $theme, $_custom-property-prefix);

    @include mixins.emit-custom-props($tokens, $_custom-property-prefix);
}
