// ============================================================================================= //
//                                            MIXINS                                             //
// ============================================================================================= //

@use "sass:list";
@use "@unsass/css";
@use "@unsass/string";
@use "@unsass/types" as type;
@use "@unsass/var";
@use "./variables";

///
/// Emits CSS custom properties declarations from a user-provided theme's token transformed
/// with `create-theme-vars()` function.
///
/// The user-provided theme's token maps can contain multilevel tokens maps. See the `@if ... @else`.
///
/// @example - scss
///   $theme: (
///     "text-color": darkcyan
///   );
///
///   $theme: create-theme-vars($theme, "button"); -> `("text-color": var(--mg-button-text-color, darkcyan))`
///
///   .foo {
///     @include emit-theme-vars($theme);
///   }
///
/// @example - css
///   .foo {
///     --mg-button-text-color: darkcyan;
///   }
///
/// @param {Map} $tokens - The user-provided theme's tokens map.
///
@mixin emit-theme-vars($tokens) {
    @each $key, $value in $tokens {
        @if $value {
            @if type.is-map($value) {
                @include emit-theme-vars($value);
            } @else {
                @include css.declaration(var.name($value), var.fallback($value));
            }
        }
    }
}

///
/// Emits CSS custom properties declarations from a user-provided theme's.
///
/// @example - scss
///   $theme: (
///     "text-color": darkcyan
///   );
///
///   .foo {
///     @include emit-custom-props($theme, "button");
///   }
///
/// @example - css
///   .foo {
///     --mg-button-text-color: darkcyan;
///   }
///
/// @param {Map} $theme - The theme tokens map.
/// @param {String} $prefix - Token's prefix name to prepend for each token's custom property name.
///
@mixin emit-custom-props($theme, $prefix: null) {
    @each $key, $value in $theme {
        @if $value {
            $token: string.combine(variables.$prefix, $prefix, $key);

            @if type.is-map($value) {
                @include emit-custom-props($value, string.combine($prefix, $key));
            } @else {
                $value: var.create($token, $value);

                @include css.declaration(var.name($value), var.fallback($value));
            }
        }
    }
}

///
/// Emits CSS media feature `prefers-color-scheme` declarations.
///
/// @example - scss
///   @include theme.emit-color-scheme("light") {
///     :root {
///       --mg-button-text-color: darkcyan;
///     }
///   }
///
/// @example - css
///   @media (prefers-color-scheme: light) {
///     :root {
///       --mg-button-text-color: darkcyan;
///     }
///   }
///
/// @param {Map} $scheme - The color scheme. Choose between `light` or `dark`.
///
@mixin emit-color-scheme($scheme: "light") {
    $theme: (
        "light",
        "dark"
    );

    @if list.index($theme, $scheme) == null {
        @error "Invalid color scheme, '#{$scheme}' doesn't exist. Choose one of '#{$theme}'.";
    }

    @media (prefers-color-scheme: $scheme) {
        @content;
    }
}

///
/// Config.
///
/// @example - scss
///   @include theme.config("foo");
///
/// @param {String} $prefix - The custom property prefix.
/// @param {String} $color - The custom config of color component.
/// @param {String} $shape - The custom config of shape component.
///
@mixin config($prefix: null, $color: null, $shape: null) {
    @if $prefix {
        variables.$prefix: $prefix;
    }

    @if $color {
        variables.$color: $color;
    }

    @if $shape {
        variables.$shape: $shape;
    }
}
