// ============================================================================================= //
//                                           VARIABLES                                           //
// ============================================================================================= //

@use "sass:map";

// ------------------------------------------------------------------------- //
// Private variables
// ------------------------------------------------------------------------- //

$_default-color: (
    "prefix": "color",
    "tokens": ()
);

$_default-shape: (
    "prefix": "shape",
    "tokens": ()
);

// ------------------------------------------------------------------------- //
// Public variables
// ------------------------------------------------------------------------- //

$prefix: "mg" !default;
$color: () !default;
$shape: () !default;

///
/// Extend options.
///

$color: map.deep-merge($_default-color, $color);
$shape: map.deep-merge($_default-shape, $shape);
