// ============================================================================================= //
//                                           VARIABLES                                           //
// ============================================================================================= //

$prefix: "mg" !default;
$colors: () !default;
$styles: () !default;
