// ============================================================================================= //
//                                            MIXINS                                             //
// ============================================================================================= //

@use "../core";
@use "../theme";

$_custom-property-prefix: "color";

///
/// Generates user-provided theme's tokens for the color component management with tokens validation.
///
/// @example - scss
///   $theme: (
///     "primary": darkcyan
///   );
///
///   .foo {
///     @include color.theme($theme);
///   }
///
/// @example - css
///   .foo {
///     --mg-color-primary: darkcyan;
///   }
///
/// @param {Map} $theme - The theme tokens map.
///
@mixin theme($theme) {
    $tokens: theme.validate-theme(core.$colors, $theme);
    $tokens: theme.create-theme-vars($theme, $_custom-property-prefix);

    @include theme.emit-theme-vars($tokens);
}
