@use "./tokens";

$typeface: (
    "prefix": "ref-typeface",
    "tokens": tokens.$typeface
);

$typescale: (
    "prefix": "sys-typescale",
    "tokens": tokens.$typescale
);

$color: (
    "prefix": "sys-color",
    "tokens": tokens.$color
);

$shape: (
    "prefix": "sys-shape",
    "tokens": tokens.$shape
);
