// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "sass:map";
@use "./config";
@use "../index" as magnesium;
@use "../typography";

@include describe("theme") {
    @include describe("mixins") {
        @include describe("core-styles()") {
            @include it("Should return core styles declarations.") {
                @include assert {
                    @include output(false) {
                        @include magnesium.core-styles;
                    }

                    @include expect(false) {
                        .mg-theme--primary {
                            color: var(--mg-theme-primary, darkcyan);
                        }

                        .mg-theme--secondary {
                            color: var(--mg-theme-secondary, darkorange);
                        }

                        .mg-theme--primary-bg {
                            background-color: var(--mg-theme-primary, darkcyan);
                        }

                        .mg-theme--secondary-bg {
                            background-color: var(--mg-theme-secondary, darkorange);
                        }
                    }
                }
            }
        }

        @include describe("create-theme()") {
            @include it("Should return custom theme declarations.") {
                @include assert {
                    @include output(false) {
                        $theme: magnesium.create-theme-vars((
                            "fill-color": primary,
                            "container-shape": sharped,
                            "label-size": 16px,
                            "label-color": darkcyan,
                            "icon-color": null
                        ), "button");

                        .test {
                            @include magnesium.create-theme($theme);
                        }
                    }

                    @include expect(false) {
                        .test {
                            --mg-button-fill-color: var(--mg-theme-primary, darkcyan);
                            --mg-button-container-shape: var(--mg-theme-shape, 0);
                            --mg-button-label-size: 16px;
                            --mg-button-label-color: darkcyan;
                            --mg-button-icon-color: var(--mg-button-icon-color);
                        }
                    }
                }
            }
        }
    }
}

@include describe("typography") {
    @include describe("mixins") {
        @include describe("theme-styles()") {
            @include it("Should return styles declarations.") {
                @include assert {
                    @include output(false) {
                        .test {
                            @include typography.theme-styles((
                                "font-size": 16px,
                                "font-weight": 400
                            ));
                        }
                    }

                    @include expect(false) {
                        .test {
                            font-size: 16px;
                            font-weight: 400;
                        }
                    }
                }
            }

            @include it("Should return extended styles declarations.") {
                @include assert {
                    @include output(false) {
                        .test {
                            $theme: magnesium.create-theme-vars((
                                "label-size": 16px
                            ), "button");

                            @include typography.theme-styles((
                                "font-size": map.get($theme, label-size)
                            ));
                        }
                    }

                    @include expect(false) {
                        .test {
                            font-size: var(--mg-button-label-size, 16px);
                        }
                    }
                }
            }
        }
    }
}
