// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../index" as magnesium with (
    $colors: (
        primary: darkcyan,
        secondary: darkorange
    )
);

@include describe("theme") {
    @include describe("mixins") {
        @include describe("core-styles()") {
            @include it("Should return core styles declarations.") {
                @include assert {
                    @include output(false) {
                        @include magnesium.core-styles;
                    }

                    @include expect(false) {
                        .mg-theme--primary {
                            color: var(--mg-theme-primary, darkcyan);
                        }

                        .mg-theme--secondary {
                            color: var(--mg-theme-secondary, darkorange);
                        }

                        .mg-theme--primary-bg {
                            background-color: var(--mg-theme-primary, darkcyan);
                        }

                        .mg-theme--secondary-bg {
                            background-color: var(--mg-theme-secondary, darkorange);
                        }
                    }
                }
            }
        }

        @include describe("create-theme()") {
            @include it("Should return custom theme declarations.") {
                @include assert {
                    @include output(false) {
                        $theme: magnesium.create-theme-var((
                            fill-color: primary,
                            label-color: darkcyan,
                            icon-color: null
                        ), "button");

                        .test {
                            @include magnesium.create-theme($theme);
                        }
                    }

                    @include expect(false) {
                        .test {
                            --mg-button-fill-color: var(--mg-theme-primary, darkcyan);
                            --mg-button-label-color: darkcyan;
                        }
                    }
                }
            }
        }
    }
}

@include describe("typography") {
    @include describe("mixins") {
        @include describe("create-typography()") {
            @include it("Should return custom theme declarations.") {
                @include assert {
                    @include output(false) {
                        $theme: (
                            font-size: 16px
                        );

                        .test {
                            @include magnesium.create-typography($theme, "button");
                        }
                    }

                    @include expect(false) {
                        .test {
                            --mg-typography-button-font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}
